extends layout 

block content
  .hold-transition.login-page
    .login-box

      // /.login-logo
      .card.card-outline.card-success
        .card-header.text-center
          // Cada &nbsp é para dar um espaço a mais 
          .row.offset-2 &nbsp &nbsp &nbsp
            i.fa-solid.fa-list-check.h1
            p &nbsp &nbsp
            a(href="http://localhost:3000").h1|Tarefas
        .card-body
          p.login-box-msg Você esqueceu sua senha? Aqui você consegue facilmente registrar uma nova senha.
          form(action="") 
            .input-group.mb-3
              input.form-control(type='email' placeholder='Email')
              .input-group-append
                .input-group-text
                  span.fas.fa-envelope
            .row
              .col-12
                a(href="http://gmail.com") 
                  input.btn.btn-success.btn-block(type="button", value="Requisitar uma nova senha")
              // /.col
          p.mt-3.mb-1
            form(action="entrar", method="get") 
              button.btn.btn-success(type="submit") Voltar
  // jQuery
  script(src='/javascripts/jquery.min.js')
  // Bootstrap 4
  script(src='/javascripts/bootstrap.bundle.min.js')
  // AdminLTE App
  script(src='/javascripts/adminlte.min.js')
  //Font Awesome
  script(src="/javascripts/all.min.js")
