extends layout

block content
  .central-box
    h1 Tarefas
    img(src="/../img/tasks.png", alt="Logo de Tarefas")
    form(action="entrar") 
      button Entrar 
    form(action="cadastrar") 
      button Cadastrar
