extends layout

block content
  .hold-transition.login-page
    .login-box

      // /.login-logo
      .card.card-outline.card-info
        .card-header.text-center
          // Cada &nbsp é para dar um espaço a mais 
          .row.offset-2 &nbsp &nbsp &nbsp
            i.fa-solid.fa-list-check.h1
            p &nbsp &nbsp
            a(href="http://localhost:3000").h1|Tarefas
        .card-body
          h5.login-box-msg Olá, que bom tê-lo aqui!
          form(action='entrar' method='get')
              // /.col
              center 
                p.col-5
                  button.btn.btn-info.btn-block(type='submit')
                    .input-group-append
                      .iput-group-text                          
                        | &nbsp Entrar &nbsp &nbsp &nbsp &nbsp
                        i.fa-solid.fa-circle-user
          
          form(action='cadastrar' method='get')
              // /.col
              center 
                p.col-6
                  button.btn.btn-info.btn-block(type='submit')
                    .input-group-append
                      .iput-group-text                          
                        | &nbsp Cadastrar &nbsp &nbsp &nbsp &nbsp
                        i.fa-solid.fa-house-user

  // jQuery
  script(src='/javascripts/jquery.min.js')
  // Bootstrap 4
  script(src='/javascripts/bootstrap.bundle.min.js')
  // AdminLTE App
  script(src='/javascripts/adminlte.min.js')
  //Font Awesome
  script(src="/javascripts/all.min.js") 
