extends layout2 

block content
  center
    .video
      h1 PARABÉNS, VOCÊ ENTROU NO SISTEMA
        h2 AGORA SOU EU E VOCÊ MEU GOSTOSO
          video(autoplay='' loop='' controls='' poster='images/imagem-fundo.png' width='1200' height='500px') 
            source(src='videos/video-fundo.mp4' type='video/mp4')
